.container {
  display: flex;
  list-style-type: none;
  gap: 10px;
}

.page {
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 50%;
  overflow: hidden;
}

.link {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.active{
    background-color: var(--primary-color);
    color: white;
}



