.input {
  display: block;
  width: 100%;
  background-color: white;
  border: 0.5px solid #999999;
  border-radius: 4px;
  padding: 10px 12px;
  height: 40px;
  outline: none !important;
  font-size: 16px;
}

.input.hasBefore {
  padding-left: 44px;
}

.input.hasAfter {
  padding-right: 44px;
}

.input:focus {
  border-color: var(--primary-color);
}

.input.inputError {
  border-color: var(--danger-color);
}

.inputLabel {
  display: block;
  margin-bottom: 4px;
  color: #666666;
}

.error {
  font-size: 0.85rem;
  color: var(--danger-color, #ef2d2b);
  line-height: 1;
  margin-top: 4px;
}

.inputWrapper {
  height: auto;
  position: relative;
  width: 100%;
  display: block;
}

.contentBefore,
.contentAfter {
  position: absolute;
  width: 32px;
  height: 100%;
  display: grid;
  place-content: center;
  left: 2px;
  top: 0;
}

.contentAfter {
  left: unset;
  right: 2px;
}
/* .sizeSmall {
  width: 244px;
  height: 44px;
}

.sizeLarge {
  width: 684px;
  height: 40px;
  padding: 10px 0px 0px 0px;
} */
