.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.img {
  height: 500px;
  width: 500px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.contain {
  display: flex;
  gap: 16px;
  opacity: 0px;
}

.wrap {
  display: flex;
  width: px;
  height: 50px;
  align-items: center;
  gap: 20px;
  opacity: 0px;
}
.export {
  display: flex;
  align-items: center;
  width: 135px;
  justify-content: center;
  height: 40px;
  padding: 10px 32px 10px 32px;
  gap: 8px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
  background-color: #f0f4f4;
}

.text{
  color: var(--primary-color)
}
