.table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  width: 100%;
}

.table thead tr {
  background-color: var(--primary-color-light);
  text-align: left;
}

.table th,
.table td {
  padding: 12px 25px;
  text-align: left;
}

.table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.active {
  text-transform: uppercase;
  color: green;
}

.inactive {
  text-transform: uppercase;
  color: red;
}

.icon {
  display: flex;
   text-align: left;
  gap: 10px;
}

.icon > a {
  display: inline-flex;
  padding: 5px;
  text-decoration: none;
  color: black;
}

.icon > a:hover {
  color: var(--primary-color);
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  padding: 54px;
}

.contain {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrap {
  display: flex;
  align-items: center;
}

.button {
  display: flex;

  gap: 20px;
}

.text{
  color: var(--primary-color);
}
